.vehiclesList {
    z-index: 1000;
    position: absolute;
    right: 0px;
    top: 7rem;
    display: flex;
    justify-content: center;
    background: #fff;
    font-family: var(--font-family);
    padding: 1rem;
    border-radius: 8px;
    margin: 8px;
    margin-left: 4px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    direction: rtl;
    animation: sourceMount;
    animation-duration: 1.1s;
    width: max-content;
    height: max-content;
}

.vehiclesList .vehicles {
    cursor: pointer;
}