.logout {
    z-index: 1000;
    left: 0;
    top: 5.5rem;
    margin-left: 8px;
    padding: 8px 4px 0 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: #545454;
}

.logout:hover {
    transform: scale(1.03);
    display: block;
}

.logoutText {
    font-size: 13px;
}