.formContainer .title {
    font-size: 20px;
}

.formContainer .submitButton {
    background: #e7e7e7;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.formContainer .submitButton:hover {
    transform: scale(1.04);
}

.signUp {
    font-size: 14px;
}

.signUp p {
    color: rgba(69, 69, 69, .85);
}

.signUp a {
    color: #545454;
}

.loginForm .swiper {
    width: 400px;
    height: 600px;
    border-radius: 8px;
}

.loginForm img {
    height: 480px;
    width: 240px;
}

.slider-title {
    font-size: 28px;
}

.slider-description {
    font-size: 14px;
    max-width: 15rem;
}

.formContainer [type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
.formContainer button:not(:disabled) {
    cursor: pointer;
    background: #f9dd19;
    color: #1d1a1a !important;
}

.loginForm .row {
    height: 40rem;
}

@media only screen and (min-width: 992px) {
    .formContainer {
        margin: 0 80px;
    }
}

.loginBorder {
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}