:root {
  --font-family: Vazir;
}

.App {
  font-family: var(--font-family);
  text-align: center;
  display: flex;
  justify-content: center;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content {
  text-align: center;
  font-family: var(--font-family);
}

.sourceCoordinates,
.destinationCoordinates {
  z-index: 1000;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  background: #fff;
  font-family: var(--font-family);
  padding: 1rem;
  border-radius: 8px;
  margin: 8px;
  margin-left: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  direction: rtl;
  animation: sourceMount;
  animation-duration: 1.1s;
  width: 21rem;
  height: max-content;
  pointer-events: none;
  pointer-events: visiblePainted;
}

@media only screen and (max-width: 375px) {

  .sourceCoordinates,
  .destinationCoordinates {
    width: 16rem;
    font-size: 9px;
  }

  .sourceCoordinates svg, .destinationCoordinates svg {
    font-size: 12px !important;
  }
}




.destinationCoordinates {
  top: 3.5rem;
}

.sourceCoordinates {
  top: 0;
}

.sourceText {
  margin: 0 4px;
}

.sourceCoordinates svg,
.destinationCoordinates svg {
  font-size: 16px;
}

.sourceCoordinates svg {
  color: #31ac52;
}

.destinationCoordinates svg {
  color: #d44444;
}


.sourceCoordinates span:nth-child(1),
.destinationCoordinates span:nth-child(1) {
  margin-right: .25rem;
  font-family: var(--font-family);
}

@keyframes sourceMount {
  0% {
    right: -100px;
  }

  100% {
    right: 0px;
  }
}

.leaflet-pane .leaflet-marker-pane img {
  border: none;
  background: none;
}

.leaflet-pane .leaflet-marker-pane img:nth-child(1) {
  width: 37px !important;
  height: 39px !important;
}

.leaflet-pane .leaflet-marker-pane img:nth-child(2) {
  width: 45px !important;
  height: 44px !important;
}